@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: 'ropa-sans';
    font-weight: 400;
    font-style: normal;
    src: url('assets/fonts/ropa-sans-regular.ttf')
  }

  @font-face {
    font-family: 'ropa-sans';
    font-weight: 400;
    font-style: italic;
    src: url('assets/fonts/ropa-sans-italic.ttf')
  }
}

* {
  font-family: 'ropa-sans', sans-serif;
}
